{# src/Homecare/HomecareBundle/Resources/views/Agency/settings.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}




    <div class="row">


        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-success" role="alert"> {{ flashMessage }} </div>
        {% endfor %}



        <div class="col-md-8">

            <h1>Email Settings For App</h1>

            {% include 'HomecareHomecareBundle::settingsNav.html.twig' %}
            <br>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}






            <table class="table">

                <tr>
                    <th>Email Address</th>
                    <th></th>
                </tr>

                {% for email in emails %}
                    <tr>
                        <td>{{ email.email }}</td>
                        <td><a href="{{ path('Homecare_HomecareBundle_agency_delete_email', {'emailId' : email.id } ) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    </tr>
                {% else %}
                    <tr>
                        <td><div class="alert alert-warning" role="alert">No emails exist! Enter some emails above!</div> </td>
                    </tr>
                {% endfor %}

            </table>




        </div>


        <div class="col-md-4 jumbotron">
            <h2>Help <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h2>
            <ul>
                <li>Any emails you enter into this form will get emailed a pdf and csv file of every time entry that gets completed.</li>
                <li>You can delete emails at the bottom of this page</li>
</ul>
        </div>
    </div>




{% endblock %}