{# src/Homecare/HomecareBundle/Resources/views/Agency/settings.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

    <div class="row">

        <div class="col-md-8">

            <h1>Edit Settings</h1>

            {% include 'HomecareHomecareBundle::settingsNav.html.twig' %}
            <br>

            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success" role="alert"> {{ flashMessage }} </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger" role="alert"
                     style="background-color: #F0B1B1"> {{ flashMessage }} </div>
            {% endfor %}



            {{ form_start(agencyForm) }}

            {{ form_row(agencyForm.agencyName) }}
            {{ form_row(agencyForm.phoneNumber) }}
            {{ form_row(agencyForm.state) }}

            {#
            {{ form_row(form.firstName) }}
            {{ form_row(form.lastName) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password) }}


            <hr>

            <h1>Plan Info</h1>
            {{ form_row(form.plan) }}


            <hr>
            <h1>Billing Info</h1>

            {{ form_row(form.creditCardNumber) }}

            {{ form_row(form.expirationMonth) }}

            {{ form_row(form.expirationYear) }}

            {{ form_row(form.vCode) }}

            #}

            {{ form_end(agencyForm) }}




            {{ form_start(billingForm) }}

            <h1>Plan & Billing Info</h1>
            {{ form_row(billingForm.plan) }}

            {{ form_row(billingForm.creditCardNumber) }}

            {{ form_row(billingForm.expirationMonth) }}

            {{ form_row(billingForm.expirationYear) }}

            {{ form_row(billingForm.vCode) }}


            {{ form_end(billingForm) }}


            <h1>Cancel Subscription</h1>

            {% if agency.stripeSubscriptionId %}
                {{ form_start(cancelSubscriptionForm) }}
                {{ form_row(cancelSubscriptionForm.cancel) }}
                {{ form_end(cancelSubscriptionForm) }}
            {% else %}
                <p>Your agency currently does not have an active subscription.</p>
            {% endif %}


        </div>

        <div class="col-md-4">
            <h3>Current Image</h3>

            <div style="width: 200px; height: 200px;">
                <img style="width: 100%; height: auto;" src="{{ amazon }}{{ agencyForm.vars.value.imageName }}">
            </div>


        </div>

    </div>


{% endblock %}