{% extends "HomecareHomecareBundle::layout.html.twig" %}

{# overide the default checkbox and label for the entity choice #}
{#% form_theme form 'HomecareHomecareBundle:Form:fields.html.twig' %#}

{% block title %}Profile Page{% endblock %}
	
	
{% block navigationDropDown %}
{# grab navbar to show only when someone is logged in #}
{% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}

{% endblock %}

{% block body %}
<h1>Care Plan Goal Comparison</h1>


{% for flashMessage in app.session.flashbag.get('error1') %}
	
	<div class="alert alert-danger" role="alert" style="background-color: #F0B1B1">{{ flashMessage }}</div>
	
 {% endfor %}


<div class="row">
	
		
<div class="col-md-4">
{# render the 1st care goals form #}
	
{{ form_start(form) }}
	{{ form_errors(form) }}



{% if is_granted('ROLE_ADMIN') %}
<h2>Administrator Care Plan Goals</h2>
{{ form_label( form.careOption, "Your desired care plan goals for #{recipient.recipientName}" ) }}
{% elseif is_granted('ROLE_AGENCY')%}
<h2>Agency Care Plan Goals</h2>
{{ form_label( form.careOption, "Your desired care plan goals for #{recipient.recipientName}" ) }}
{% elseif is_granted('ROLE_RECIPIENT')%}
<h2>Recipient Care Plan Goals</h2>
{{ form_label( form.careOption, "#{recipient.recipientName}'s desired care plan goals" ) }}
{% endif %}
{{ form_row(form.careOption) }}
{{ form_end(form) }}

<hr>

	<form method="get" action="{{ path('Homecare_HomecareBundle_show_comparison') }}">
		<input type="hidden" name="pdfsOrCsvs" value="{{ timesheetDateIds }}">
		<input type="hidden" name="jsonEncoded" value="true">
		
		

<button name="CompareOwnGoalsSubmitButton" type="submit" class="btn btn-link yellowLink">Click Here To Compare</button>
	


</div>





{% if is_granted('ROLE_ADMIN') %}
	
<div class="col-md-4">
<h2>Agency Care Plan Goals</h2>
{% if careGoalObjAgency.getCareOption is defined %}
{% for careOption in careGoalObjAgency.getCareOption %}
	<p class="bg-primary">{{ careOption }}</p>
{% endfor %}
<hr>
<button name="CompareAgencyGoalsSubmitButton" type="submit" class="btn btn-link yellowLink">Click Here To Compare</button>
<hr>
	{% else %}
	<p style="color:#FE9A2E">Sorry, the agency has not set any care goals for this recipient</p>
{% endif %}

</div>

{% endif %}





{% if is_granted('ROLE_ADMIN') %}
	
<div class="col-md-4">
<h2>Recipient Care Plan Goals</h2>
{% if careGoalObjRecipient.getCareOption is defined %}
{% for careOption in careGoalObjRecipient.getCareOption %}
	<p class="bg-primary">{{ careOption }}</p>
	{% endfor %}
	<hr>
<button name="CompareRecipientGoalsSubmitButton" type="submit" class="btn btn-link yellowLink">Click Here To Compare</button>
	<hr>
	{% else %}
	<p style="color:#FE9A2E">Sorry, the recipient has not set any care goals for him/herself</p>
{% endif %}	

</div>

{% endif %}



</form>



</div>


{% endblock %}