{# src/Homecare/HomecareBundle/Resources/views/CareGoalComparison/showComparison.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig'%}

{% block navigationDropDown %}
{# grab navbar to show only when someone is logged in #}
{% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}

{% endblock %}


{% block body %}
	
	
	{{ render(controller( 'HomecareHomecareBundle:CareGoalSpan:showCareGoalSpan', { 'recipientId' : recipientId, 'match' : match, 'timesheetDateIds' : timesheetDateIds } ) ) }}



<a class="yellowLink" href="{{ path( 'Homecare_HomecareBundle_recipient_profile', { 'recipientId' : recipientId, 'timesheetDateIds' : timesheetDateIds|json_encode } ) }}">Change Care Goals</a>


{% endblock %}
