{# added twitter bootstrap to the form to make it look better #}
{% block form_widget_simple -%}
    {% set type = type|default('text') -%}
			<div class="form-group" style="width:400px">
    <input class="form-control" type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
	</div>
{%- endblock form_widget_simple %}
