{# src/Homecare/HomecareBundle/Resources/views/CareGoalComparison/showComparison.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig'%}

{% block navigationDropDown %}
{# grab navbar to show only when someone is logged in #}
{% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}

{% endblock %}


{% block body %}



	
	<script src="//code.highcharts.com/4.0.1/highcharts.js"></script>
	<script src="//code.highcharts.com/4.0.1/modules/exporting.js"></script>
	<script type="text/javascript">
	    {{ chart(chart) }}
	</script>
			
			<h1>Care History Graph</h1>

			{% set dates = [] %}
			{% for timesheet in timesheets %}
			{% set dates = dates|merge( [timesheet.sessionData.dateEnding|date("m/d/Y")] ) %}
		    {% endfor %}

			<p style="color: #FFFF00; font-weight: bold">
				<span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Service Dates: 
			{% for date in dates %}
				{% if loop.last %}
				{{ date }}
				{% else %}
				{{ date }},
                {% endif %}
			{% endfor %}
		</p>

			
	{# this div will display the different charts/graphs #}
    <div id="linechart" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
	<div style="border: 1px solid black; padding: 10px; margin-top: 10px">




		
	<form method="get" action="{{ path('Homecare_HomecareBundle_show_care_history_graph') }}">
		
	<p>Views</p>
	<input type="hidden" name="hasBeenSerialized" value="true">
	<input type="hidden" name="timesheetIds" value="{{ timesheetIds|json_encode() }}">
	<div class="radio">
	  <label>
	    <input type="radio" name="graphType" value="bar" {% if graphType == 'bar' %}checked{% endif %}>
	    Bar Graph
	  </label>
	  <label>
	    <input type="radio" name="graphType" value="pie" {% if graphType == 'pie' %}checked{% endif %}>
	    Pie Chart
	  </label>
	
	  <label>
	    <input type="radio" name="graphType" value="line" {% if graphType == 'line' %}checked{% endif %}>
	    Line Graph
	  </label>
		<input class="btn btn-default btn-xs" type="submit" value="Change Chart">
	</div>

	</form>

	</div>

	

{% endblock %}


