{# src/Homecare/HomecareBundle/Resources/views/UserRoles/userRoles.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

    <h1>Create Worker</h1>

    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="alert alert-success" role="alert"> {{ flashMessage }} </div>
    {% endfor %}


    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}


    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.umpi) }}
    {{ form_row(form.companyAssignedId) }}
    {{ form_row(form.phoneNumber) }}
    {{ form_row(form.yearsOfExperience) }}
    {{ form_row(form.gender) }}

    {{ form_row(form.services) }}


    <h1>Login Credentials</h1>

    {#{ form_errors(form.users) }#}


    <p>
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
    </p>

    {{ form_end(form) }}


{% endblock %}
