{# src/Homecare/HomecareBundle/Resources/views/Page/admin.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}


{% block javascripts %}


<script>
    $(document).ready(function() {


        //hide the error div
        $('#errorSpan').hide();

        //check all the boxes when the select all button is pressed
        $('.chk_boxes').click(function(){
            //if there is an error message cause they have not selected a timesheet then
            //erase the error message that is showing
            $('#flashMessage').text("");
            $('#flashMessage').hide();
            $(".boxesToCheck").prop('checked', $(this).prop("checked"));
        })


        //compare against care goals button logic goes right here
        //only let them select 1 recipient at a time
        $('#careGoalsCompareLink').click(function(){
            var idOfLink = $(this).attr("id");


            if( recipientId = checkIfCheckBoxesAreChecked() ) {
                redirectUser( idOfLink, recipientId );
            }
        });




        //view care history graph logic goes right here
        //only let them select 1 recipient at a time
        $('#careHistoryGraphLink').click(function(){
            var idOfLink = $(this).attr("id");

            if( recipientId = checkIfCheckBoxesAreChecked() ) {
                redirectUser( idOfLink, recipientId );
            }

        });




        //this method checks to see if checkboxes have been checked
        function checkIfCheckBoxesAreChecked() {

            var checkBoxes = $('.boxesToCheck');
            var errorSpan = $('#errorSpan');
            var counter = 0;
            var recipientId;
            var numOfRecipients = 0;

            checkBoxes.each(function(){

                //find out how many checkboxes are checked
                if ( $(this).is(":checked") )
                {
                    //count the recipients
                    if ( recipientId != $(this).attr("data-recipientId") ) {
                        numOfRecipients++;
                    }

                    recipientId = $(this).attr("data-recipientId");
                    counter = counter + 1;
                }

            });

            if ( numOfRecipients > 1 ) {
                errorSpan.text("you can not select more then 1 different recipient at a time" );
                errorSpan.show();
                return false;
            } else if( counter >= 1){
                errorSpan.hide();
                return recipientId;
            } else {
                errorSpan.text("you must select a timesheet to use this functionality" );
                errorSpan.show();
                return false;
            }

        } //end of checkIfCheckBoxesAreChecked() method





        //this method checks to see if checkboxes have been checked
        function checkIfCheckBoxesAreCheckedForDownload() {
            var checkBoxes = $('.boxesToCheck');
            var errorSpan = $('#errorSpan');
            var counter = 0;
            var recipientId;

            checkBoxes.each(function(){

                //find out how many checkboxes are checked
                if ( $(this).is(":checked") )
                {
                    recipientId = $(this).attr("data-recipientId");
                    counter = counter + 1;
                }

            });

            if ( counter >= 1 )
            {
                errorSpan.hide();
                errorSpan.text( "" );
                return true;
            } else {
                errorSpan.text( "you must select a timesheet to use this functionality" );
                errorSpan.show();
                return false;
            }

        }







        //this method will redirect the user to the appropriate page
        // either COMPARE AGAINST CARE GOALS or VIEW CARE HISTORY GRAPH
        function redirectUser( idOfLink, recipientId )
        {

            switch( idOfLink ) {

                case 'careGoalsCompareLink':
                    var actionRoute = Routing.generate('Homecare_HomecareBundle_show_comparison');

                    // dynamically create the action for the form
                    document.getElementById("timesheetsForm").action = actionRoute;

                    // dynamically submit the form
                    $('#timesheetsForm').submit();

                    break;
                case 'careHistoryGraphLink':

                    var actionRoute = Routing.generate( 'Homecare_HomecareBundle_show_care_history_graph' );

                    // dynamically create the action for the form
                    document.getElementById("timesheetsForm").action = actionRoute;

                    // dynamically submit the form
                    $('#timesheetsForm').submit();

                    break;
            }

        }





        $('#downloadPdfOrCsvButton').click(function(){
            //show the popup asking if he wants to download pdf version or csv version
            if ( checkIfCheckBoxesAreCheckedForDownload() ) {

                $("#modal1").modal('show');
            }
        })

        $('#pdfButton').click(function(){
            var actionRoute = Routing.generate( 'Homecare_HomecareBundle_generate_multiple_pdfs' );
            //dynamically create the action for the form
            document.getElementById("timesheetsForm").action = actionRoute;
            $('#timesheetsForm').submit();

        })

        $('#csvButton').click(function(){
            var actionRoute = Routing.generate( 'Homecare_HomecareBundle_generate_csvs' );
            //dynamically create the action for the form
            document.getElementById("timesheetsForm").action = actionRoute;
            $('#timesheetsForm').submit();
        })




    })

</script>

    {% endblock %}


{% block body %}


    {% if is_granted("ROLE_ADMIN") %}
        <h1>Admin Dashboard</h1>
        {% elseif is_granted("ROLE_AGENCY") %}
        <h1>Agency Dashboard</h1>
        {% elseif is_granted("ROLE_RECIPIENT") %}
        <h1>Recipient Dashboard</h1>
    {% endif %}



<div id="dateSpan">

    {% for flashMessage in app.session.flashbag.get('message') %}
        <div id="flashMessage" class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('error') %}
        <div id="flashMessage" class="alert alert-danger" style="background-color: #F0B1B1" role="alert">{{ flashMessage }}</div>
    {% endfor %}


   <p><span class="label label-default">{{ timesheets.getTotalItemCount }} results found</span></p>


    {# Show the date filter #}
    {# pass the get variables filter and textToFilterBy into controller that way the filters stay consistent #}
    {{ render(controller( 'HomecareHomecareBundle:DateFilter:showDateFilter', { 'filter' : filter, 'textToFilterBy' : textToFilterBy, 'dateFilter' : dateFilter, 'startDate' : startDate, 'endDate' : endDate } ) ) }}


    {# wrap the table in a form which will allow you to download multiple timesheets #}
    <form id="timesheetsForm" method="get" action="">

        <table class="table">

            <tr>
                <th>Recipient</th>
                <th>Worker</th>
                <th>Service Date</th>
                <th>Time In</th>
                <th>Time Out</th>
                <th>Service</th>
                <th>Agency</th>
                <th>PDF</th>
                {# dont show csv option to recipients #}
                {% if not is_granted('ROLE_RECIPIENT') %}
                    <th>CSV</th>
                    <th>FILES</th>
                    <th>Archive</th>
                {% endif %}

            </tr>



            <input type="hidden" name="filter" value="{{ filter }}">
            <input type="hidden" name="textToFilterBy" value="{{ textToFilterBy }}">
            <input type="hidden" name="dateFilter" value="{{ dateFilter }}">
            {#<input type="hidden" name="timesheets" value="{{ timesheets|json_encode() }}"> #}

            {% for timesheet in timesheets %}
                <tr>
                    <td><label><input data-recipientId="{{ timesheet.recipient.id  }}" class="boxesToCheck" name="pdfsOrCsvs[]" type="checkbox" value="{{ timesheet.id }}"> {{ timesheet.recipient.recipientName|title  }}</label></td>
                    <td>{{ timesheet.sessionData.pca.firstName|title ~ ' ' ~ timesheet.sessionData.pca.lastName|title }}</td>
                    <td>{{ timesheet.sessionData.dateEnding|date("m/d/Y") }}</td>
                    <td>{{ timesheet.sessionData.timeIn.timeIn|date("h:i:s A") }}</td>
                    <td>{{ timesheet.sessionData.timeOut.timeOut|date("h:i:s A") }}</td>
                    <td>{{ timesheet.sessionData.service.serviceName|title }}</td>
                    <td>{{ timesheet.sessionData.pca.agency.agencyName|title }}</td>

                    <td><a href=" {{ path('Homecare_HomecareBundle_generate_pdf', { 'timesheetId' : timesheet.id } ) }}">.pdf</a></td>
                    {% if not is_granted('ROLE_RECIPIENT') %}

                        <td><a href="{{ path('Homecare_HomecareBundle_generate_csv', { 'timesheetId' : timesheet.id} ) }}">.csv</a></td>
                        <td><a href="{{ path('Homecare_HomecareBundle_show_files', {'timesheetId' : timesheet.id }) }}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a></td>


                        <td><a href="{{ path('Homecare_HomecareBundle_deleteDateSpan', {'timesheetId' : timesheet.id }) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                    {% endif %}

                </tr>
            {% else %}
                <div class="alert alert-danger" style="background-color: #F0B1B1" role="alert">
                    No timesheets exist for this search. Select a different date range or filter your search
                </div>

            {% endfor %}

        </table>

        <hr>
        <button id="downloadPdfOrCsvButton" type="button" class="btn btn-link yellowLink">Download Selected Timesheets</button>|
        <label><input type="checkbox" class="chk_boxes" label="check all"> select all </label>
        <p>
            <a href="javascript:void(0)" id="careGoalsCompareLink" class="yellowLink alignYellowLinks">Compare To Care Plan Goals</a>
        </p>

        <p>
            <a href="javascript:void(0)" id="careHistoryGraphLink" class="yellowLink alignYellowLinks">View Care History Graph</a>
        </p>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-notice">
                <div id="flashMessage" class="alert alert-danger" style="background-color: #F0B1B1" role="alert">{{ flashMessage }}</div>
            </div>
        {% endfor %}
        <div id="errorSpan" class="alert alert-danger" style="background-color: #F0B1B1" role="alert"></div>
        <hr>
    </form>

    {# display the navigation #}

    {{ knp_pagination_render(timesheets) }}




    {# Show the filter #}
    {# pass the get variable $dateFilter into the controller that way the filter stays consistent #}
    {{ render(controller( 'HomecareHomecareBundle:Filter:showFilter', { 'dateFilter' : dateFilter, 'textToFilterBy' : textToFilterBy, 'startDate' : startDate, 'endDate' : endDate } ) ) }}


</div>


{# place the modal popup right here #}
{% include 'HomecareHomecareBundle:DateSpan:modal.html.twig' %}

{% endblock %}