{# src/Homecare/HomecareBundle/Resources/views/modal.html.twig #}

<div id="modal1" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><img height="30px" width="30px" alt="Brand" src="{{ asset('bundles/homecarehomecare/images/logo.png') }}"> Timesheets Download</h4>
      </div>
      <div class="modal-body">
				
				{# show a different message depending if a recipient is logged in #}
				{% if not is_granted('ROLE_RECIPIENT') %}
        <p>Choose how you want to download the selected files. Either choose PDF or CSV format. Your selected timesheets will be placed inside a zip file.</p>
				{% else %}
				<p>Choose "Download Pdf Files" to start download or cancel to abort. your selected timesheets will be placed inside a zip file.</p>
			{% endif %}
      </div>
      <div class="modal-footer">
        <button id="pdfButton" type="button" class="btn btn-primary">Download PDF Files</button>
				
				
				{# dont show csv file to recipients #}
				{% if not is_granted('ROLE_RECIPIENT') %}
					
				<button id="csvButton" type="button" class="btn btn-primary">Download CSV Files</button>
				
			{% endif %}
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="modal2" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><img height="30px" width="30px" alt="Brand" src="{{ asset('bundles/homecarehomecare/images/logo.png') }}"> Archive Timesheets</h4>
            </div>
            <div class="modal-body">
                    <p>Are you sure you want to archive these timesheets?</p>
            </div>
            <div class="modal-footer">
                <button id="archiveButton" type="button" class="btn btn-primary">Archive Timesheets</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="modal3" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><img height="30px" width="30px" alt="Brand" src="{{ asset('bundles/homecarehomecare/images/logo.png') }}"> Archive Timesheet</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to archive this timesheet?</p>
            </div>
            <div class="modal-footer">
                <button id="modal3ArchiveSingleTimesheetButton" type="button" class="btn btn-primary">Archive Timesheet</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
