<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Homecare Timesheets Demo{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    {% block stylesheets %}
        <link href="{{ asset('bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('jquery-ui/jquery-ui.min.css') }}" rel="stylesheet">
        <link href="{{ asset('jquery-ui/jquery-ui.structure.min.css') }}" rel="stylesheet">
        <link href="{{ asset('jquery-ui/jquery-ui.theme.min.css') }}" rel="stylesheet">
        <link href="{{ asset('lightbox/css/lightbox.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>


<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_AGENCY') or is_granted('ROLE_RECIPIENT') %}
                    <a class="navbar-brand" href="{{ path('Homecare_HomecareBundle_dashboard_timesheets_loader') }}">Homecare
                        Timesheets</a>
                {% else %}
                    <a class="navbar-brand" href="{{ path('index') }}">Homecare Timesheets</a>
                    <a class="navbar-text" href="{{ path('Homecare_HomecareBundle_signup') }}">Sign Up</a>
                    <a class="navbar-text" href="{{ path('index') }}">Log In</a>
                {% endif %}

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% block navigationLeft %}

                    {% endblock %}
                </ul>

                <ul class="nav navbar-nav navbar-right">

                    {% if app.user %}

                        <p style="padding-left: 13px;" class="navbar-text">Good
                            Day {{ app.user.firstName| title }} {{ app.user.lastName| title }}</p>


                        {% if is_granted('ROLE_AGENCY') or  is_granted('ROLE_ADMIN') %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                   aria-expanded="false">People <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    {# grab navbar to show only when someone is logged in #}
                                    {% include 'HomecareHomecareBundle::navauthenticated2.html.twig' %}
                                </ul>
                            </li>
                        {% endif %}


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {% block navigationDropDown %}
                                    {# grab navbar to show only when someone is logged in #}
                                    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
                                {% endblock %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="wrapper">
      {#
      {% if is_granted('ROLE_AGENCY') or  is_granted('ROLE_ADMIN') %}
      <div class="alert alert-warning" role="alert">New Verification Feature has been added to the app. To take advantage of this feature for your Workers. Navigate to  <strong><a style="color:darkblue" href="{{ path('Homecare_HomecareBundle_show_assignments') }}">Assignments</a></strong>  page and click delete next to each pca/recipient you would like to set up the verification for. After you do this go to the <strong><a style="color:darkblue" href="{{ path('Homecare_HomecareBundle_assign_pca_to_recipient') }}">Assign Recipient To Worker</a></strong> page and re-assign the recipient/pca.</div>
      {% endif %}
      #}
      {% block body %}{% endblock %}
    </div><!-- /.wrapper -->
</div>


<footer class="footer">
    {% block footer %}

        <div class="row">

            <div class="col-md-3">
                {% block footer1 %}
                    <h3>Other Resources</h3>
                    <a class="footerLinks" href="http://www.pcapartners.net" target="_blank"><img
                                src="http://www.pcapartners.net/wp-content/uploads/2014/10/PCA_Favicon.jpg"
                                width="20" height="20">Pca Partners</a>
                    <a class="footerLinks" href="http://www.homecaretimesheetsapp.com" target="_blank"><img
                                height="20" width="20" alt="Brand"
                                src="{{ asset('bundles/homecarehomecare/images/app-icon.png') }}">Homecare Timesheet App</a>
                {% endblock %}
            </div>

            <div class="col-md-3">
                {% block footer2 %}
                    <h3> PCA Partners Inc.</h3>
                    <p style="color:#FFFFFF">2562 7th Avenue Suite 201, <br>North Saint Paul, MN 55109 <span
                                class="glyphicon glyphicon-picture" aria-hidden="true"></span></p>

                    <p style="color:#FFFFFF">Phone: 612-868-4512 <span class="glyphicon glyphicon-phone-alt"
                                                                       aria-hidden="true"></span></p>

                    <p style="color:#FFFFFF">Fax: 763-592-7960 <span class="glyphicon glyphicon-list-alt"
                                                                     aria-hidden="true"></span></p>

                    <p style="color:#FFFFFF">Email: <a href="mailto:andre@pcapartners.net">Email <span
                                    class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></p>
                {% endblock %}
            </div>


            <!-- <div class="col-md-3">
                {% block footer3 %}
                {% endblock %}
            </div>

            <div class="col-md-3">
                {% block footer4 %}{% endblock %}
            </div> -->

        </div> <!-- end of row -->

    {% endblock %}
</footer>


<script src="{{ asset('bootstrap/dist/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('jquery-cookie-master/src/jquery.cookie.js') }}"></script>
<!-- get the jquery ui code -->
<script src="{{ asset('jquery-ui/jquery-ui.min.js') }}"></script>
<script src="{{ asset('lightbox/js/lightbox.min.js') }}"></script>
<script src="{{ asset('bundles/homecarehomecare/js/init.js') }}"></script>

{% block javascripts %}{% endblock %}


</body>
</html>
