<h1>Download the app here</h1>

<h2>IOS</h2>
<p>
    <a href="https://itunes.apple.com/us/app/homecare-timesheets-system/id1105460902?mt=8">https://itunes.apple.com/us/app/homecare-timesheets-system/id1105460902?mt=8</a>
</p>


<h2>Andriod</h2>
<p>
    <a href="https://play.google.com/store/apps/details?id=com.homecaretimesheet.apidemo&hl=en">https://play.google.com/store/apps/details?id=com.homecaretimesheet.apidemo&hl=en</a>
</p>