{# src/Homecare/HomecareBundle/Resources/views/DateFilter/showDateFilter.html.twig#}

<script>
//run ajax here to dynamically load in the timesheets based upon the filters they select

$('document').ready(function(){
	//if the filter button is clicked then find out what kind of filter should be applied
	
	// make the date field have a custom date popup
	
	 $( "#customStartDateToFilterBy" ).datepicker();
	 $( "#customEndDateToFilterBy" ).datepicker();
	 
	  
	
	
	$('.dateFilterButton').click(function(){
		var dateFilter = $(this).data( "date-filter" );
		var dateSpan = $('#dateSpan');
		var topLoadingSpan = $('#topLoadingSpan');
		topLoadingSpan.html("Loading...");
		//grab the filter from the last request
		var lastRequestFilter = $(this).data( "last-request-filter" );
		//grab the text to filter by from the last request
		var lastRequestText =	$(this).data( "last-request-text" );
		
		
			
			
		$.get("{{ path('Homecare_HomecareBundle_showDateSpan') }}",{ defaultDateFilter : true, dateFilter : dateFilter, filter : lastRequestFilter, textToFilterBy : lastRequestText }, function(data,status){
			
			dateSpan.html( data );   
			topLoadingSpan.html("");
		});
		
		
		
	})
	
	


$('#customEndDateToFilterBy').change(function(){
	
	// check to see if they have entered in a start date
	if ( $('#customStartDateToFilterBy').val() == '' ) {
		$('#dateErrorSpan').text("you must enter a start date");
		return;
	}
	
	var dateSpan = $('#dateSpan');
	var topLoadingSpan = $('#topLoadingSpan');
	topLoadingSpan.html("Loading...");
	
	var startDate = $('#customStartDateToFilterBy').val();
	var endDate = $('#customEndDateToFilterBy').val();
	
	
	var lastRequestFilter = $(this).data( "last-request-filter" );
	//grab the text to filter by from the last request
	var lastRequestText =	$(this).data( "last-request-text" );
	
	
	
	dataString = [];
	   $.ajax({
	        type: "POST",
	        url: "{{ path('Homecare_HomecareBundle_showDateSpan') }}",
	        data:{ customDateFilter : true, startDate : startDate, endDate : endDate, filter : lastRequestFilter, textToFilterBy : lastRequestText }, 
	        cache: false,

	        success: function( data, status ){
						dateSpan.html( data );   
						topLoadingSpan.html("");
	        }
	    });
	
	
	
	
	
	
	
});



	
	
	
	
}) //end of document.ready(function)


</script>



<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 7%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="7">7 DAYS</a> -

<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 14%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="14">14 DAYS</a> -

<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 30%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="30">30 DAYS</a> -

<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 60%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="60">60 DAYS</a> -

<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 90%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="90">90 DAYS</a> -

<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 180%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="180">180 DAYS</a> -

<a href="javascript:void(0)" class="dateFilterButton {% if dateFilter is defined and dateFilter == 365%}boldLink{% endif %}" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" data-date-filter="365">365 DAYS</a> 
  
<label style="position:relative; bottom: 2em; left: 1.5em">Start Date</label>	
<input style="position:relative; left: -4em; width: 6em" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" type="text" id="customStartDateToFilterBy" value="{% if startDate is defined %}{{ startDate }}{% endif %}">
<label style="position:relative; bottom: 2em; left: -2.5em">End Date</label>	
<input style="position:relative; left: -8em; width: 6em" data-last-request-text = "{{ textToFilterBy }}" data-last-request-filter = "{{ filter }}" type="text" id="customEndDateToFilterBy" value="{% if endDate is defined %}{{ endDate }}{% endif %}">
<span style="margin-left: -7.5em; color: red" id="dateErrorSpan"></span>
<span id="topLoadingSpan"></span>

