{# src/Homecare/HomecareBundle/Resources/views/generatePdf.html.twig #}
{% extends 'HomecareHomecareBundle::pdf.html.twig' %}

 {% block body %}
	 
	 <h1>Timesheet for {{ timesheet[0].recipient }} </h1>

	  {# start the first table #}
	 <table class="table table-hover">
	 	<tr>
	 	<th>Agency Name</th>
	 	<th>Phone Number</th>
	 	<th>Week Ending</th>
		<th>Dates Patient Incarcerated</th>
	 	</tr>


	   <tr>
	 		<td> {{ timesheet[0].agency }} </td>
	 		<td>{{ timesheet[0].phoneNumber }} </td>
			<td>{{ timesheet[0].weekEnding|date("m/d/Y") }}</td>
			
			
			
			<td>
				{# check to make sure that there are dates for this (because maybe the patient was not encarcerated )#}
				{% if timesheet[0].startDateInpatientIncarcerated.timestamp is defined and timesheet[0].endDateInpatientIncarcerated is defined %}
					
				{{ timesheet[0].startDateInpatientIncarcerated|date("m/d/Y") }} - {{ timesheet[0].endDateInpatientIncarcerated|date("m/d/Y") }}	
				
				{% else %}
				N/A
			{% endif %}
				
			</td> 
			
		</tr>
			
	</table>
	{# end of the first table #}
	
	
	
	
	
 
 {# start the second table #}
 <table class="table table-hover">
 	<tr>
 	<th>Recipient</th>
 	<th>PCA</th>
 	<th>Service</th>
 	</tr>


   <tr>
 		<td> {{ timesheet[0].recipient }} </td>
 		<td>{{ timesheet[0].pcaFirstName }} {{ timesheet[0].pcaLastName }}</td>
		<td>{{ timesheet[0].service }}</td>
		</tr>
	
 </table>
 {# end of the second table #}
 
 
 
	 
 
 {# date_modify("-7 day")|date("m/d/Y") #}
 {% set day1 =  timesheet[0].weekEnding|date_modify("-6 day")|date("m/d/Y") %}
 {% set day2 =  timesheet[0].weekEnding|date_modify("-5 day")|date("m/d/Y") %}
 {% set day3 =  timesheet[0].weekEnding|date_modify("-4 day")|date("m/d/Y") %}
 {% set day4 =  timesheet[0].weekEnding|date_modify("-3 day")|date("m/d/Y") %}
 {% set day5 =  timesheet[0].weekEnding|date_modify("-2 day")|date("m/d/Y") %}
 {% set day6 =  timesheet[0].weekEnding|date_modify("-1 day")|date("m/d/Y") %}
 {% set day7 =  timesheet[0].weekEnding|date("m/d/Y") %}
 
 <table class="table table-hover">
 	<tr>
 	<th> {{ day1 }}</th>
 	<th> {{ day2 }}</th>
	<th> {{ day3 }}</th>
	<th> {{ day4 }}</th>
	<th> {{ day5 }}</th>
	<th> {{ day6 }}</th>
	<th> {{ day7 }}</th>
 	</tr>

		{% set careDay1 = [] %}
		{% set careDay2 = [] %}
		{% set careDay3 = [] %}
		{% set careDay4 = [] %}
		{% set careDay5 = [] %}
		{% set careDay6 = [] %}
		{% set careDay7 = [] %}
		{% for care in careOptionTimesheets %}
			
			{% if care.dateOfService|date("m/d/Y") == day1 %}
				{% set careDay1 = careDay1|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
			{% if care.dateOfService|date("m/d/Y") == day2 %}
				{% set careDay2 = careDay2|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
			{% if care.dateOfService|date("m/d/Y") == day3 %}
				{% set careDay3 = careDay3|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
			{% if care.dateOfService|date("m/d/Y") == day4 %}
				{% set careDay4 = careDay4|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
			{% if care.dateOfService|date("m/d/Y") == day5 %}
				{% set careDay5 = careDay5|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
			{% if care.dateOfService|date("m/d/Y") == day6 %}
				{% set careDay6 = careDay6|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
			{% if care.dateOfService|date("m/d/Y") == day7 %}
				{% set careDay7 = careDay7|merge( [care.careOption.careOption] ) %}
			{% endif %}
			
		 {% endfor %}



{% for i in 0..12 %}
  
   <tr>
		 {# day 1 #}
 		<td>{% if careDay1[i] is defined %} {{ careDay1[i] }} {% else %} n/a {% endif %}</td>
		<td>{% if careDay2[i] is defined %} {{ careDay2[i] }} {% else %} n/a {% endif %}</td>
		<td>{% if careDay3[i] is defined %} {{ careDay3[i] }} {% else %} n/a {% endif %}</td>
		<td>{% if careDay4[i] is defined %} {{ careDay4[i] }} {% else %} n/a {% endif %}</td>
		<td>{% if careDay5[i] is defined %} {{ careDay5[i] }} {% else %} n/a {% endif %}</td>
		<td>{% if careDay6[i] is defined %} {{ careDay6[i] }} {% else %} n/a {% endif %}</td>
		<td>{% if careDay7[i] is defined %} {{ careDay7[i] }} {% else %} n/a {% endif %}</td>
		
	 </tr>
	 
	 
   {% endfor %}
	
 </table>
	 
	 
	 
	 
	 
 
 
 
 
 
 
 
 
 
 
 {% endblock %}