state,service,agency_name,phone_number,week_ending,inpatient_incarcerated,start_date_inpatient_incarcerated,end_date_inpatient_incarcerated,week_total,recipient_first_name,recipient_last_name,recipient_dob,recipient_date_signed,pca_first_name,pca_last_name,pca_npi_umpi,pca_date_signed,date_of_service,dressing,grooming,bathing,eating,transfers,mobility,positioning,toileting,health_related,behavior,light_housekeeping,laundry,other,visit_one_ratio,visit_one_location,visit_one_time_in,visit_one_time_out,visit_two_ratio,visit_two_location,visit_two_time_in,visit_two_time_out,daily_total
{% for csvArray in entireCsvArray %}
	{{ csvArray|join(', ') }}
{% endfor %}
		
		
		
		