{# src/Homecare/HomecareBundle/Resources/views/Page/index.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig'%}


{% block body %}

		<div class="form-signin">	
			<h1 class="textAlignHeader">Homecare Timesheets</h1>
			<a class="btn btn-default landingPageButtons" href="{{ path('Homecare_HomecareBundle_showDateSpan') }}" role="button">Recipient Portal <span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> <br>
			<a class="btn btn-default landingPageButtons" href="{{ path('Homecare_HomecareBundle_showDateSpan') }}" role="button">Agency Portal <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a> <br>
			<a class="btn btn-default landingPageButtons" href="{{ path('Homecare_HomecareBundle_showDateSpan') }}" role="button">Administrator Portal <span class="glyphicon glyphicon-tower" aria-hidden="true"></span></a>
		</div>

{% endblock %}

			
