{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block body %}

    <div class="signup-wrapper">
        <h1>Agency Sign Up</h1>


        {{ form_start(form) }}

        {{ form_row(form.agencyName) }}
        {{ form_row(form.phoneNumber) }}
        {{ form_row(form.state) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}


        <hr>

        <h1>Plan Info</h1>
        {{ form_row(form.billingData.plan) }}


        <hr>
        <h1>Billing Info</h1>

        {{ form_row(form.billingData.creditCardNumber) }}

        {{ form_row(form.billingData.expirationMonth) }}

        {{ form_row(form.billingData.expirationYear) }}

        {{ form_row(form.billingData.vCode) }}

        <div style="display: inline-block">
            {{ form_row(form.termsAccepted) }}
        </div>

        <div style="display: inline-block">
            <a href="{{ path('terms_and_conditions') }}">Terms and Conditions</a>
        </div>

        <h1 style="font-size:16px">First 30 Days Are Free</h1>

        {{ form_end(form) }}
    </div>

{% endblock %}
