{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block body %}

    <div class="signup-wrapper">
        <h1>PCA PARTNERS TERMS OF SERVICE</h1>


        <h1 style="font-size: 20px">Welcome to PCA Partners (PCAP) Homecare Timesheets and PCA On Demand</h1>

        <p>
            Thanks for using our products and (“Services”). The Services are provided by PCA Partners, located at 2562
            7th
            Avenue Suite 201, North Saint Paul, MN 55109, United States.
        </p>
        <p>
            By using our Products and Services, you are agreeing to these terms. Please read them carefully.
        </p>
        <h1 style="font-size: 20px">Using our Services</h1>

        <p>
            You must follow any policies made available to you within the Services.
        </p>
        <p>
            Don’t misuse our Services. For example, don’t interfere with our Services or try to access them using a
            method
            other than the interface and the instructions that we provide. You may use our Services only as permitted by
            law, including applicable export and re-export control laws and regulations. We may suspend or stop
            providing
            our Services to you if you do not comply with our terms or policies or if we are investigating suspected
            misconduct.
        </p>

        <p>
            Using our Services does not give you ownership of any intellectual property rights in our Services or the
            content you access. These terms do not grant you the right to use any branding or logos used in our
            Services.
            Don’t remove, obscure, or alter any legal notices displayed in or along with our Services.
        </p>
        <p>
            You shall not (a) attempt to copy, modify, duplicate, create derivative works, from, frame, mirror,
            republish,
            download, display, transmit, or distribute all or any portion of our products in any form or media or by any
            means; (b) attempt to reverse engineer, or otherwise reduce to human-perceivable form all or any part of our
            products in order to build a product or service which competes with PCAP; (c) license, sell, rent, lease,
            transfer, assign, distribute, display, disclose or otherwise commercially exploit, or otherwise make our
            products available to any third party; or (d) attempt to obtain, or assist third parties in obtaining access
            to
            our products.
        </p>
        <p>
            Some of our Services are available on mobile devices. Do not use such Services in a way that distracts you
            and
            prevents you from obeying traffic or safety laws.
        </p>
        <h1>Privacy and Copyright Protection</h1>

        <p>
            PCAP privacy policies explain how we treat your personal data and protect your privacy when you use our
            Services. By using our Services, you agree that PCAP can use such data in accordance with our privacy
            policies.
        </p>
        <h1 style="font-size: 20px">Modifying and Terminating our Services</h1>

        <p>
            We are constantly changing and improving our Services. We may add or remove functionalities or features, and
            we
            may suspend or stop a Service altogether.
        </p>
        <p>
            You can stop using our Services at any time, although we’ll be sorry to see you go. PCAP may also stop
            providing
            Services to you, or add or create new limits to our Services at any time.
        </p>
        <p>
            We believe that you own your data and preserving your access to such data is important. If we discontinue a
            Service, where reasonably possible, we will give you reasonable advance notice and a chance to get
            information
            out of that Service.
        </p>
        <h1 style="font-size: 20px">Our Warranties and Disclaimers</h1>

        <p>
            We provide our Services using a commercially reasonable level of skill and care and we hope that you will
            enjoy
            using them. But there are certain things that we don’t promise about our Services.
        </p>
        <p>
            OTHER THAN AS EXPRESSLY SET OUT IN THESE TERMS OR ADDITIONAL TERMS, NEITHER PCAP NOR ITS SUPPLIERS OR
            DISTRIBUTORS MAKE ANY SPECIFIC PROMISES ABOUT THE SERVICES. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT
            THE
            CONTENT WITHIN THE SERVICES, THE SPECIFIC FUNCTIONS OF THE SERVICES, OR THEIR RELIABILITY, AVAILABILITY, OR
            ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SERVICES “AS IS”.
        </p>

        <p>

            SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR
            A
            PARTICULAR PURPOSE AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES.
        </p>
        <p>
            PCAP EXPRESSLY DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, REGARDING THE ACCURACY, COMPLETENESS OR
            PERFORMANCE
            OF PRODUCTS OR SERVICES.
        </p>
        <h1 style="font-size: 20px">Limitation of Liability</h1>

        <p>
            IN NO EVENT WILL PCAP BE LIABLE TO CUSTOMER FOR ANY SPECIAL, INCIDENTAL, PUNITIVE, INDIRECT, EXEMPLARY, OR
            CONSEQUENTIAL DAMAGES, INCLUDING, WITHOUT LIMITATION, LOST PROFITS, LOST REVENUES, LOSS OF USE, LOSS OF
            DATA, OR
            LOSS OF GOODWILL OR REPUTATION, ARISING OUT OF OR IN CONNECTION WITH THE USE OF PCAP PRODUCTS OR SERVICES,
            WHETHER SUCH LIABILITY ARISES FROM ANY CLAIM BASED UPON BREACH OF CONTRACT, BREACH OF WARRANTY, TORT
            (INCLUDING
            NEGLIGENCE), PRODUCT LIABILITY, OR OTHERWISE, AND WHETHER OR NOT A CUSTOMER HAS BEEN ADVISED OF THE
            POSSIBILITY
            OF SUCH DAMAGE AND EVEN IF SUCH DAMAGES WERE OR ARE FORESEEABLE.
        </p>

        <h1 style="font-size: 20px">Business uses of our Services</h1>

        <p>
            If you are using our Services on behalf of a business, that business accepts these terms. It will hold
            harmless
            and indemnify PCAP and its affiliates, officers, agents, and employees from any claim, suit or action
            arising
            from or related to the use of the Services or violation of these terms, including any liability or expense
            arising from claims, losses, damages, suits, judgments, litigation costs and attorneys’ fees.

        </p>
        <h1 style="font-size: 20px">About these Terms</h1>


        <p>We may modify these terms or any additional terms that apply to a Service to, for example, reflect changes to
            the law or changes to our Services. You should look at the terms regularly. We’ll post notice of
            modifications to these terms on this page. We’ll post notice of modified additional terms in the applicable
            Service. Changes will not apply retroactively and will become effective no sooner than fourteen days after
            they are posted. However, changes addressing new functions for a Service or changes made for legal reasons
            will be effective immediately. If you do not agree to the modified terms for a Service, you should
            discontinue your use of that Service.

            If there is a conflict between these terms and the additional terms, the additional terms will control for
            that conflict.

            These terms control the relationship between PCAP and you. They do not create any third party beneficiary
            rights.

            If you do not comply with these terms, and we don’t take action right away, this doesn’t mean that we are
            giving up any rights that we may have (such as taking action in the future).

            If it turns out that a particular term is not enforceable, this will not affect any other terms.

            The laws of Minnesota, U.S.A., will apply to any disputes arising out of or relating to these terms or the
            Services. All claims arising out of or relating to these terms or the Services will be litigated exclusively
            in the federal or state courts of Hennepin County, Minnesota, USA, and you and PCAP consent to personal
            jurisdiction in those courts.
        </p>


    </div>

{% endblock %}
