{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}


{% block javascripts %}
<script>
    $(document).ready(function() {


        //check all the boxes when the select all button is pressed
        $('.chk_boxes').click(function () {
            $(".boxesToCheck").prop('checked', $(this).prop("checked"));
        })

    });
</script>
{% endblock %}



{% block body %}
<h1>Files For Timesheet</h1>

    <form method="get" action="{{ path('Homecare_HomecareBundle_download_multiple_file') }}">
        <input type="hidden" name="timesheetId" value="{{ timesheetId }}">
    <table class="table">
        <tr>
            <td><label><input name="files[]" class="boxesToCheck" type="checkbox" value="{{ files.timesheetCsvFile }}"> Csv File</label></td>
            <td><a href="{{ path('Homecare_HomecareBundle_download_file', {'fileName' : files.timesheetCsvFile, 'timesheetId' : timesheetId }) }}"><span class="badge">Download</span></a></td>
            <td><span class="badge">Can't View A Csv File In Lightbox</span></td>
        </tr>
        <tr>
            <td><label><input name="files[]" class="boxesToCheck" type="checkbox" value="{{ files.timesheetPdfFile }}"> Pdf File</label></td>
            <td><a href="{{ path('Homecare_HomecareBundle_download_file', {'fileName' : files.timesheetPdfFile, 'timesheetId' : timesheetId }) }}"><span class="badge">Download</span></a></td>
            <td><span class="badge">Can't View A Pdf File In Lightbox</span></td>
        </tr>
        <tr>
            <td><label><input name="files[]" class="boxesToCheck" type="checkbox" value="{{ files.timesheetRecSig }}"> Recipient Signature</label></td>
            <td><a href="{{ path('Homecare_HomecareBundle_download_file', {'fileName' : files.timesheetRecSig, 'timesheetId' : timesheetId }) }}"><span class="badge">Download</span></a></td>
            <td><a data-lightbox="image-2" data-title="Recipient Signature" href="https://s3.amazonaws.com/hc-timesheets-demo/{{ files.timesheetRecSig }}"><span class="badge">View In Lightbox</span></a></td>
        </tr>

        <tr>
            <td><label><input name="files[]" class="boxesToCheck" type="checkbox" value="{{ files.timesheetPcaSig }}"> Pca Signature</label></td>
            <td><a href="{{ path('Homecare_HomecareBundle_download_file', {'fileName' : files.timesheetPcaSig, 'timesheetId' : timesheetId }) }}"><span class="badge">Download</span></a></td>
            <td><a data-lightbox="image-4" data-title="Pca Signature" href="https://s3.amazonaws.com/hc-timesheets-demo/{{ files.timesheetPcaSig}}"><span class="badge">View In Lightbox</span></a></td>
        </tr>

        <tr>
            {% if timesheet.verification %}
                <td><label><input name="files[]" class="boxesToCheck" type="checkbox" value="{{ timesheet.verification.verificationPhoto }}"> Verification Photo</label></td>
                <td><a href="{{ path('Homecare_HomecareBundle_download_file', {'fileName' : timesheet.verification.verificationPhoto, 'timesheetId' : timesheetId }) }}"><span class="badge">Download</span></a></td>
                <td><a data-lightbox="image-8" data-title="Verification Photo" href="https://s3.amazonaws.com/hc-timesheets-demo/{{ timesheet.verification.verificationPhoto }}"><span class="badge">View In Lightbox</span></a></td>
            {% else %}

            {% endif %}
        </tr>


    </table>

    <button id="downloadFilesButton" type="submit" class="btn btn-link yellowLink">Download Selected Files</button>|
    <label><input type="checkbox" class="chk_boxes" label="check all"> select all </label>
</form>

{% endblock %}
