{# src/Homecare/HomecareBundle/Resources/views/UserRoles/userRoles.html.twig #}

{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
{# grab navbar to show only when someone is logged in #}
{% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}
	<h1>Manage Users</h1>


    {% if is_granted('ROLE_AGENCY') %}
        <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'recipient'}) }}"
           class="{% if typeOfUser is defined and typeOfUser == 'recipient'%}boldLink{% endif %}">Recipients</a> |
        <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'agency'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'agency'%}boldLink{% endif %}">Agency Users</a> |
         <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'pca'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'pca'%}boldLink{% endif %}">Workers</a>
        {% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'recipient'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'recipient'%}boldLink{% endif %}">Recipients</a> |
           <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'admin'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'admin'%}boldLink{% endif %}">Admin Users</a> | <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'agency'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'agency'%}boldLink{% endif %}">Agency Users</a> |
             <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'pca'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'pca'%}boldLink{% endif %}">Workers</a> |
            <a href="{{ path('Homecare_HomecareBundle_manage_users',{'typeOfUser':'agencies'}) }}" class="{% if typeOfUser is defined and typeOfUser == 'agencies'%}boldLink{% endif %}">Agencies</a>
    {% endif %}
    <br>
    <br>


    {% for flashMessage in app.session.flashBag.get('error') %}
        <div class="alert alert-danger" role="alert" style="background-color: #F0B1B1">{{ flashMessage }}</div>
        {% endfor %}
    {% for flashMessage in app.session.flashBag.get('message') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    <table class="table table-bordered">


        {% if typeOfUser == 'agencies' %}
            <tr>
                <th>Agency Name</th>
                <th>Phone Number</th>
                <th>State</th>
                <th>Edit</th>
            </tr>
            {% else %}
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    {% if typeOfUser != 'admin' %}
                        <th>Agency</th>
                    {% endif %}
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Archive User</th>
                    <th>Edit</th>
                </tr>
                {% endif %}



	{% for user in createdUsers %}

        {% if typeOfUser == 'agencies' %}

            <tr>
            <td>{{ user.agencyName }}</td>
            <td>{{ user.phoneNumber }}</td>
            <td>{{ user.state.stateName|title }}</td>
                <td><a href="{{ path('Homecare_HomecareBundle_edit_agency',{ 'id' : user.id } ) }}">Edit</a></td>
            </tr>


        {% else %}

            <tr>
                <td>{{ user.firstName|title }}</td>
                <td>{{ user.lastName|title }}</td>
                <td>{{ user.username }}</td>

                {% if typeOfUser == 'recipient' %}
                    <td>{{ user.recipient.agency.agencyName|title }}</td>
                {% elseif typeOfUser == 'pca' %}
                    <td>{{ user.pca.agency.agencyName|title }}</td>
                {% elseif typeOfUser == 'agency' %}
                    <td>{{ user.agency.agencyName|title }}</td>
                {% endif %}

                <td>{{ user.email }}</td>
                <td>
        {% if user.lastLogin is null %}
            {% if typeOfUser == 'pca' %}
                pca has not logged into app yet
            {% else %}
                    User has not logged into website yet
            {% endif %}

            {% else %}
                {{ user.lastLogin|date('m/d/Y h:i:s A') }}
            {% endif %}
                </td>

            <td><a class="deleteUserLink" data-userid="{{ user.id }}" data-usertype="{{ typeOfUser }}" href="javascript:void(0)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>

        {% if is_granted('ROLE_AGENCY') %}
                {% if typeOfUser == 'recipient' %}
                <td><a href="{{ path('Homecare_HomecareBundle_edit_recipient',{ 'recipientId' : user.recipient.id } ) }}">Edit</a></td>
                    {% elseif typeOfUser == 'pca' %}
                        <td><a href="{{ path('Homecare_HomecareBundle_edit_pca',{ 'pcaId' : user.pca.id } ) }}">Edit</a></td>
                {% elseif typeOfUser == 'agency' %}
                    <td><a href="{{ path('Homecare_HomecareBundle_agency_edit_agency_user',{ 'userId' : user.id } ) }}">Edit</a></td>
                {% endif %}
        {% elseif is_granted('ROLE_ADMIN') %}
            {% if typeOfUser == 'recipient' %}
                <td><a href="{{ path('Homecare_HomecareBundle_edit_recipient',{ 'recipientId' : user.recipient.id } ) }}">Edit</a></td>
            {% elseif typeOfUser == 'pca' %}
                <td><a href="{{ path('Homecare_HomecareBundle_edit_pca',{ 'pcaId' : user.pca.id } ) }}">Edit</a></td>
            {% elseif typeOfUser == 'agency' %}
                <td><a href="{{ path('Homecare_HomecareBundle_admin_edit_agency_user',{ 'userId' : user.id } ) }}">Edit</a></td>
                {% elseif typeOfUser == 'admin' %}
                <td><a href="{{ path('Homecare_HomecareBundle_edit_admin_user',{ 'userId' : user.id } ) }}">Edit</a></td>
            {% endif %}
            {% endif %}

            </tr>


        {% endif %}




        {% else %}
            <div class="alert alert-danger" role="alert" style="background-color: #F0B1B1">No {{ typeOfUser }} users exist</div>
        {% endfor %}
    </table>

    {# {{ path('Homecare_HomecareBundle_delete_user', {'typeOfUser' : typeOfUser, 'userId' : user.id} ) }} #}

    {# display the navigation #}

    {{ knp_pagination_render(createdUsers) }}

    {# place the modal popup right here #}
    {% include 'HomecareHomecareBundle:ManageUsers:modal.html.twig' %}

{% endblock %}