<div id="modal1" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><img height="30px" width="30px" alt="Brand" src="{{ asset('bundles/homecarehomecare/images/logo.png') }}">Archive User <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to do this!</p>
<p>Archiving a User will not allow them to login to the website or app anymore.</p>
            </div>
            <div class="modal-footer">
                <button id="deleteUserButton" type="button" class="btn btn-danger">Archive User <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>


        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->