{# add your custom theme that you made for this template <input type="text"> #}
{% form_theme form 'HomecareHomecareBundle:Form:inputText.html.twig' %}

<h1>Change Password</h1>
	
<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-default" type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
    </div>
</form>
