{#% extends "FOSUserBundle::layout.html.twig" %#}
{# dont extend the parent FOSUserBundle template so you can take out the logout button#}
{% extends "HomecareHomecareBundle::layout.html.twig" %}

{% block navigationDropDown %}
{# grab navbar to show only when someone is logged in #}
{% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}


{% block body %}
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}
