<div id="careGoalSpan">
<h1>Care Goal Comparision for {{ recipient.recipientName }}

{% if match == 'agencyGoals' %}
	from the Agency
{% endif %}
{% if match == 'adminGoals' %}
	from the Administrator
{% endif %}
{% if match == 'recipientGoals' %}
	from the Administrator
{% endif %}


</h1>


<div id="infoDiv" data-match="{{ match }}" data-recipient-id="{{ recipient.id }}">
</div>


	<span id="loadingSpan"></span>





<table class="table">
	<tr>
	<th>Service Date</th>
	<th>Care Received</th>
	<th>Meets Care Plan</th>
  </tr>



{% for date, eachCareGoalSpan in allCareGoalsSpanInfo  %}
    <tr>
		<td>{{ date }}</td>
        <td>
            {% for carePerformed in eachCareGoalSpan['carePerformed']%}
                {% if loop.last %}
                    {{ carePerformed }}
                {% else %}
                    {{ carePerformed }},
                {% endif %}
            {% endfor %}
        </td>
        <td>
            {% if eachCareGoalSpan['forgottenGoals'] is defined %}
            NO -
            {% for forgottenGoal in eachCareGoalSpan['forgottenGoals'] %}
                {% if loop.last %}
                    {{ forgottenGoal }}
                {% else %}
                    {{ forgottenGoal }},
                {% endif %}
            {% endfor %}
            {% else %}
            YES
            {% endif %}
        </td>
    </tr>
{% else %}
    <p style="color:#ff6b2f">No timesheets exist In this timeframe. Select a different date range</p>
{% endfor %}

</table>


{% if grade is not empty %}
	<span>(Daily Care Goal Match)</span>
	{% if grade < 33 %}
		<p style ="font-size: 24px; color: #FF0000">Care Goal Match: {{ grade }}%</p>

	{% endif %}

	{% if grade >= 33 and grade < 50 %}
		<p style ="font-size: 24px; color: #FE9A2E">Care Goal Match: {{ grade }}%</p>
		{% endif %}

		{% if grade >= 50 and grade < 75 %}
			<p style ="font-size: 24px; color: #04B431">Care Goal Match: {{ grade }}%</p>
			{% endif %}

			{% if grade >= 75 and grade <= 100 %}
				<p style ="font-size: 24px; color: #04B431">Care Goal Match: {{ grade }}%</p>
				{% endif %}
{% endif %}



</div>