{# src/Homecare/HomecareBundle/Resources/views/Filter/filter.html.twig #}
{# Show different parts of the filter depending what role they have #}

<script>
//run ajax here to dynamically load in the timesheets based upon the filters they select

$('document').ready(function(){
	//if the filter button is clicked then find out what kind of filter should be applied
	$('.filterButton').click(function(){
		var filter = $(this).data( "filter" );
		
		
		
	  var dateSpan = $('#dateSpan');
		var textToFilterBy = $('#textToFilterBy').val();
		//grab the date filter from the last request
		var lastRequestDate =	$(this).data( "last-request-date" );
		var startDate =	$(this).data( "start-date" );
		var endDate =	$(this).data( "end-date" );
		var loadingSpan = $('#loadingSpan');
		var message = "Loading...";
		loadingSpan.html( message );
		
				
		var jsonString = { customTextFilter : true, filter : filter, textToFilterBy : textToFilterBy, startDate : startDate, endDate : endDate, dateFilter : lastRequestDate };
		
		
		
		$.get("{{ path('Homecare_HomecareBundle_showDateSpan') }}",jsonString, function(data,status){
				dateSpan.html( data );
				loadingSpan.html("");
		  });
		
		
		
	})
})


</script>


{% if is_granted('ROLE_ADMIN') %}
<p>Enter PCA, Recipient, Service, or Agency, and then press the appropriate filter</p>
<input type="text" id="textToFilterBy" value="">	
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="pca" >FILTER BY PCA</a> |
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="recipient" >FILTER BY RECIPIENT</a> |
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="service" >FILTER BY SERVICE</a> |
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="agency" >FILTER BY AGENCY</a> |
    <a href="{{ path('Homecare_HomecareBundle_showDateSpan') }}" class="filterButton">RESET</a> |
  
{% elseif is_granted('ROLE_AGENCY')%}
<p>Enter PCA, Recipient, or Service and then press the appropriate filter</p>
<input type="text" id="textToFilterBy">	
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="pca" >FILTER BY PCA</a> |
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="recipient" >FILTER BY RECIPIENT</a> |
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="service" >FILTER BY SERVICE</a> |
    <a href="{{ path('Homecare_HomecareBundle_showDateSpan') }}" class="filterButton">RESET</a> |

{% elseif is_granted('ROLE_RECIPIENT')%}
<p>Enter a Service and then press the appropriate filter</p>
<input type="text" id="textToFilterBy">	
<a href="javascript:void(0)" class="filterButton" data-start-date = "{{ startDate }}" data-end-date = "{{ endDate }}" data-last-request-date = "{{ dateFilter }}" data-filter="service" >FILTER BY SERVICE</a> |
<a href="{{ path('Homecare_HomecareBundle_showDateSpan') }}" class="filterButton">RESET</a> |
{% endif %}
<span id="loadingSpan"></span>