{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

    <h1>Qualifications</h1>


    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}


    <ul>

        {% for qualification in qualifications %}
            <li>{{ qualification }} -
                <form style="display:inline-block" method="post"
                      action="{{ path('Homecare_HomecareBundle_qualifications_delete') }}"><input type="submit"
                                                                                                  value="Delete"> <input
                            type="hidden" name="qualification"
                            value="{{ qualification.id }}">
                </form>
            </li>
        {% endfor %}

    </ul>




    <form method="post" action="{{ path('Homecare_HomecareBundle_qualifications') }}">
        <input type="text" name="qualificationName">
        <input type="submit" value="Create Qualification">
    </form>



{% endblock %}