{#% extends "FOSUserBundle::layout.html.twig" %#}
{# dont extend the parent FOSUserBundle template so you can take out the logout button#}
{% extends "HomecareHomecareBundle::layout.html.twig" %}

{% block body %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}


    {% if error %}
        <div class="alert alert-danger" style="background-color: #F0B1B1"
             role="alert">{{ error|trans({}, 'messages') }}</div>
    {% endif %}


    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
        <h1 class="form-signin-heading">Login Portal</h1>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
               required="required"/>

        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
        <input class="form-control" type="password" id="password" name="_password" required="required"/>


        <label><a href="{{ path('fos_user_resetting_request') }}">Forgot username or password</a></label> <br>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
        <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>


        <input style="float:right" class="btn btn-default" type="submit" id="_submit" name="_submit"
               value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}"/>
    </form>

{% endblock %}
