{% extends "HomecareHomecareBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <p>
                {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
            </p>
            </div>
        </div>


{% endblock %}