{% extends "HomecareHomecareBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
        </div>
    </div>


{% endblock %}