{#% extends "FOSUserBundle::layout.html.twig" %#}
{# dont extend the parent FOSUserBundle template so you can take out the logout button#}
{% extends "HomecareHomecareBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
        <h1>Forgot Password</h1>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {#
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                #}
            {% else %}
                {#
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'messages') }}</a>
                #}
            {% endif %}
        </div>




        {% for type, messages in app.session.flashBag.all %}
            {% for message in messages %}
                <div class="{{ type }}">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        <div>
            {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
        </div>

            </div>
    </div>


{% endblock %}
