{% extends "HomecareHomecareBundle::layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
        </div>
    </div>


{% endblock %}