{% extends "::base.html.twig" %}

{% block title %}HomecareHomecareBundle:CsvMultiple:generateCsvs{% endblock %}

{% block body %}
<h1>Welcome to the CsvMultiple:generateCsvs page</h1>
{% endblock %}
