{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

    <h1>Create Agency User</h1>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
{% endfor %}

<form id="timesheetsForm" method="post" action="{{ path('Homecare_HomecareBundle_admin_create_agency_user') }}" novalidate>
    
        {# display all errors here #}
        {{ form_errors(form) }}

    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.agency) }}

    {{ form_end(form) }}


    {% endblock %}