{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

<h1>Assign Recipient To Pca</h1>


    <div class="row">
        {% for flashMessage in app.session.flashbag.get('message') %}
            <div class="alert alert-success" role="alert"> {{ flashMessage }} </div>
        {% endfor %}



    <div class="col-md-8">
        {% include 'HomecareHomecareBundle::manageUsersNav.html.twig' %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>


        <div class="col-md-4 jumbotron">
            <h2>Help <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h2>
            <ul>
                <li>Control which recipients a pca is allowed to create time entries for.</li>
            </ul>
        </div>

    </div>



{% endblock %}