{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

    <h1>Worker Verification</h1>

    {% include 'HomecareHomecareBundle::manageUsersNav.html.twig' %}

    <br>

    <form method="get" action="{{ path('Homecare_HomecareBundle_show_assignments') }}" class= "form-inline">
        {{ form_row(form.pca[0].pcaName) }}
        {{ form_row(form.recipient[0].recipientName) }}
        {{ form_rest(form) }}
        <input type="submit" name="submit-filter" value="filter" class="btn btn-default"/>
    </form>

    <br>
    {% for flashMessage in app.session.flashBag.get('message') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    <table class="table table-bordered">

    <tr>
        <th><a style="color: yellow" href="{{ path('Homecare_HomecareBundle_show_assignments', {'filter' : 'recipient', 'order' : order}) }}">Recipient</a></th>
        <th><a style="color: yellow" href="{{ path('Homecare_HomecareBundle_show_assignments', {'filter' : 'pca', 'order' : order}) }}">Worker</a></th>
        <th>Agency</th>
        <th>Delete</th>
        <th>Verification History</th>

    </tr>


        {% for rp in recipientPcas %}
            <tr>
                <td>{{ rp['recipientFirstName'] ~ " " ~ rp['recipientLastName'] }}</td>
                <td>{{ rp['pcaFirstName'] ~ " " ~ rp['pcaLastName'] }}</td>
                <td>{{ rp['agencyName'] }}</td>
                <td><a style="color:yellow" href="{{ path('Homecare_HomecareBundle_delete_assignment', {'recipientPcaId' : rp['recipientPcaId']} ) }}">Delete</a></td>
                <td><a style="color:yellow" href="{{ path('Homecare_HomecareBundle_verifications', {'recipientPcaId' : rp['recipientPcaId']} ) }}">Verification History</a></td>


            </tr>
        {% else %}
            <div class="alert alert-danger" role="alert" style="background-color: #F0B1B1">No Recipient Pca Combinations</div>
        {% endfor %}

    </table>

    {# display the navigation #}

    {{ knp_pagination_render(pagination) }}


{% endblock %}