{% extends 'HomecareHomecareBundle::layout.html.twig' %}


{% block navigationDropDown %}
    {# grab navbar to show only when someone is logged in #}
    {% include 'HomecareHomecareBundle::navauthenticated.html.twig' %}
{% endblock %}



{% block body %}

    <h1>Verification History</h1>
    <p>Worker - {{ verifications[0].recipientPca.pca }}</p>
    <p>Recipient - {{ verifications[0].recipientPca.recipient }}</p>
    <br>
    {% for flashMessage in app.session.flashBag.get('message') %}
        <div class="alert alert-success" role="alert">{{ flashMessage }}</div>
    {% endfor %}

    <table class="table table-bordered">

        <tr>
            <th>Required Verification Date</th>
            <th>Actual Verification Time</th>
            <th>Address</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Verified</th>
            <th>Verification Photo</th>

        </tr>

        {% for verification in verifications %}
            <tr>
                <td>{{ verification.verificationDate|date("m/d/Y") }}</td>
                <td>{{ verification.time|date("m/d/Y h:i:s A")}}</td>
                <td>{{ verification.address }}</td>
                <td>{{ verification.latitude }}</td>
                <td>{{ verification.longitude }}</td>
                {# not using this feature now. Just changed the text to not enabled #}

                {% if verification.verified != true %}
                    <td>Pending Verification</td>
                    <td>Pending Verification</td>
                {% else %}
                    <td><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span class="label label-success">Pca Verified</span></td>
                    <td><a data-lightbox="verification-image-{{ loop.index }}" data-title="Verification Photo" href="https://s3.amazonaws.com/hc-timesheets-demo/{{ verification.verificationPhoto}}"><span class="badge">View In Lightbox</span></a></td>
                {% endif %}



            </tr>
        {% endfor %}

    </table>


{% endblock %}