
/* General */

body {
	background: #265876;
	padding: 40px 0 30px;
}

.wrapper {
  background: #f8f8f8;
	border: 1px solid #e7e7e7;
  padding: 40px 50px 50px;
  border-radius: 4px;
}

a {
	color: #265876;
}

table, tr, th, td {
	color: #265876;
}

a:hover {
	color: #306d92;
}

h1 {
	font-weight: 100;
	color: #265876;
	margin: 0 0 20px;
}

h3 {
	color: #265876;
	margin: 30px 0 20px;
}

.navbar-brand {
	color: #265876 !important;
	background: url('/bundles/homecarehomecare/images/logo.png') no-repeat 14px 10px;
	padding: 15px 15px 15px 50px;
	-webkit-background-size: 27px;
	background-size: 27px;
	transition: all 0.1s ease;
}

.navbar-brand:hover {
	color: #265876 !important;
	opacity: .8;
}

.yellowLink,
.yellowLink:hover {
	color: #bbbb4c;
}

.alignYellowLinks{
	padding: 13px;
}

.btn {
	font-size: 16px;
	line-height: 1.8em;
	padding: 6px 20px;
}

.btn-default {
  background: #265876;
  color: #fff;
  border: none;
	transition: all 0.1s ease;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.btn-default:hover,
.btn-default:focus {
	background: #306d92;
	color: #fff;
}

.boldLink {
	font-weight: bold;
	text-decoration: underline;
}


/* Landing page */

.landingPageButtons {
	margin: 10px;
	width: 300px;
}

.textAlignHeader{
	text-align: center;
}

.radio label,
.checkbox label {
	border: 1px solid #ccc;
	padding: 10px 10px 10px 30px;
	margin-right: 5px;
	border-radius: 2px;
}

.dashboard-filter #timesheet_filter_sessionData_0_dateEnding_left_date, .dashboard-filter #timesheet_filter_sessionData_0_dateEnding_right_date {
	display: inline-block;
}

.dashboard-filter select, .dashboard-filter input[type="text"] {
	width: 200px;
}

.dashboard-filter .radio {
	display: inline-block !important;
}


/* Signup Form */

.signup-wrapper {
	max-width: 400px;
	margin: 0 auto;
}

.signup-wrapper .btn-default {
	width: 100%;
}

/* Footer */

.footer {
	-webkit-font-smoothing: antialiased;
	margin: 0 auto;
	padding: 0 50px;
	max-width: 1140px;
}
.footer .col-md-3 {
	width: 33%;
	float: left;
}
@media screen and (max-width: 1200px) {
	.footer {
		max-width: 940px;
	}
}
@media screen and (max-width: 992px) {
	.footer {
		max-width: 720px;
	}
	.footer .col-md-3 {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.footer {
		max-width: 100%;
	}
}

.footer h3 {
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: 0.1em;
	color: #91a9b6;
	margin: 40px 0 20px;
	font-weight: normal;
}
.footer a {
	color: #fff;
}

.footerLinks {
	display: block;
	margin-bottom: 5px;
}
.footerLinks img {
	border-radius: 2px;
	margin-right: 5px;
}
