{# src/Homecare/HomecareBundle/Resources/views/layout.html.twig #}

{% extends '::base.html.twig' %}


        {% block stylesheets %}
				{{ parent() }}
				<!-- Custom styles for the login template -->
				<link href="{{ asset('bootstrap/docs/examples/signin/signin.css')}}" rel="stylesheet">
				<link rel="stylesheet" href="{{ asset('bundles/homecarehomecare/css/layout.css') }}">
				{% endblock %}


{% block javascripts %}
{{ parent() }}
	<script src="{{ asset('bundles/homecarehomecare/js/manageUsers.js') }}"></script>

{% endblock %}


			{% block navigationLeft %}
			{{ include( 'HomecareHomecareBundle::nav.html.twig' ) }}
			{% endblock %}
			

			
			