<ul class="nav nav-pills">
    <li role="presentation"
            {% if app.request.attributes.get('_route') == "Homecare_HomecareBundle_show_assignments" %}
                class="active"
            {% endif %}
            ><a href="{{ path('Homecare_HomecareBundle_show_assignments') }}">Assignments</a></li>
    <li role="presentation"
            {% if app.request.attributes.get('_route') == "Homecare_HomecareBundle_assign_pca_to_recipient" %}
                class="active"
            {% endif %}
            ><a href="{{ path('Homecare_HomecareBundle_assign_pca_to_recipient') }}">Assign Recipient To Worker</a></li>
</ul>