{# src/Homecare/HomecareBundle/Resources/views/navauthenticated2.html.twig #}
{# this is 2nd nav to show once an administrator, agency, or recipient is logged in #}




{% if is_granted('ROLE_AGENCY') %}
    <li><a href="{{ path('Homecare_HomecareBundle_agency_create_agency_user') }}">Create Agency User</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_create_pca') }}">Create Worker</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_create_recipient') }}">Create Recipient</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_manage_users') }}">Manage Users</a></li>
    <li class="divider"></li>
    <li><a href="{{ path('Homecare_HomecareBundle_show_assignments') }}">Assignments
            {#}{ render(controller('HomecareHomecareBundle:Pca:pcaReviewCount')) }#}
        </a></li>
{% endif %}

{% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('Homecare_HomecareBundle_create_admin_user') }}">Create Administrator</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_create_agency') }}">Create Agency</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_admin_create_agency_user') }}">Create Agency User</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_create_pca') }}">Create Worker</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_create_recipient') }}">Create Recipient</a></li>
    <li><a href="{{ path('Homecare_HomecareBundle_manage_users') }}">Manage Users</a></li>
{% endif %}







