{# src/Homecare/HomecareBundle/Resources/views/navauthenticated.html.twig #}
{# this is the nav to show once an administrator, agency, or recipient is logged in #}


<li><a href="{{ path('fos_user_profile_show') }}">View Profile</a></li>
<li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
<li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
<li><a href="{{ path('fos_user_resetting_request') }}">Forgot Password</a></li>
<li class="divider"></li>
{% if is_granted('ROLE_AGENCY') %}
    <li><a href="{{ path('Homecare_HomecareBundle_agency_settings') }}">Edit Settings</a></li>
    <li class="divider"></li>
{% endif %}
{% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('Homecare_HomecareBundle_qualifications') }}">Global Settings</a></li>
    <li class="divider"></li>
{% endif %}


<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>


