<ul class="nav nav-pills">
    <li role="presentation"
            {% if app.request.attributes.get('_route') == "Homecare_HomecareBundle_agency_settings" %}
                class="active"
            {% endif %}
            ><a href="{{ path('Homecare_HomecareBundle_agency_settings') }}">Main Settings</a></li>
    <li role="presentation"
            {% if app.request.attributes.get('_route') == "Homecare_HomecareBundle_agency_email_settings" %}
                class="active"
            {% endif %}
            ><a href="{{ path('Homecare_HomecareBundle_agency_email_settings') }}">Email Settings</a></li>
</ul>